body {
  /* background: , url('http://bgfons.com/uploads/beer/beer_texture1949.jpg'); */
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url('https://cdn.pixabay.com/photo/2017/03/10/14/04/background-2132910_1280.jpg')  no-repeat fixed 100% 100%;
  background-size: cover;
  /* background-repeat:;
  background-attachment: fixed; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

.link {
  color: white;
}

body {
font-family: 'Patrick Hand SC', sans-serif;
}